<a href="https://colab.research.google.com/github/rodydeveloper/FGV_Intro_DS/blob/master/1st_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## First list of exercises

#### Ordered from the easiest to the "hardest"

1) Write a function that takes an integer minutes and converts it to seconds. <font color='green'>(EASY)</font>

2) Create a function that converts a date formatted as MM/DD/YYYY to YYYYDDMM. The input is a string!

3) A typical car can hold four passengers and one driver, allowing five people to travel around. Given n number of people, `return` how many cars are needed to seat everyone comfortably.

4) Create a function that replaces all the vowels in a string with the character '#'.

5) Write a function that inverts the keys and values of a dictionary.

6) Create a function that takes a list of strings and return a list, sorted from shortest to longest.

7) Create a function that returns True if the first list is a subset of the second. Return False otherwise.

8) Create a function that takes an integer and returns the factorial of that integer. That is, the integer multiplied by all positive lower integers.

9) Create a function that takes a number as an argument and returns how many times it is multiple of 3.

10) Create a function that sorts a list and removes all duplicate items from it. (Don't use 'set')